@import url('https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #fff;
  background: #02191D;
  font-family: 'Jeju Myeongjo', serif;
}

/* (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #02191D;
}

::-webkit-scrollbar-thumb {
  background: rgba(36, 160, 181, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(36, 160, 181, 0.7);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(36, 160, 181, 0.5) #02191D;
}